<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2  sticky-top">
      <div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Add Candidate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search Candidate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Edit Candidate</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <app-candidate-form></app-candidate-form>
    </div>
  </div>
</div>