<nav class="navbar navbar-expand-md navbar-light bg-light mb-1 sticky-top">
  <a class="navbar-brand" href="#">Recruiter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Client</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/candidates">Candidate</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
